.carousel-card {
  height: 165px;
  width: 140px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.carousel-card:hover {
  border: 1px solid rgba(211, 219, 236, 1);
  border-radius: 16px;
  box-shadow: 0px 1px 2px rgba(199, 212, 238, 0.8);
}
.carousel-card img {
  height: 48px;
  width: 48px;
}
.carousel-card h1 {
  font-size: 16px;
  margin: 15px 0px 0px;
  color: rgba(45, 45, 45, 1);
}
.carousel-card p {
  margin: 5px 0px 0px;
  font-size: 14px;
  color: rgba(87, 87, 87, 1);
}
