.main {
  border: 1px solid rgba(211, 219, 236, 1);
  border-radius: 32px;
  padding: 25px;
  background-color: white;
}
.main-section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-section-1 h2 {
  font-size: 24px;
  font-weight: 600;
  width: 206px;
  color: rgba(45, 45, 45, 1);
}
.main-section-1 > div {
  display: flex;
  height: 30px;
  gap: 20px;
  align-items: center;
}
.main-section-1 > span {
  display: flex;
  align-items: center;
}
#search-box {
  border: 1px solid rgba(211, 219, 236, 1);
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 5px;
}
.blue-text {
  color: rgba(65, 85, 141, 1);
}
input {
  border: none;
}
input:focus {
  outline: 0px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 25px 0px;
}
